.Cubename{
    border:15px solid transparent;
    border-radius: 10px; 
    margin: 10px 0px 0px 0px;

   } 

  .Cubemargin{

  }
  .Cubesec{
    position: relative;
    transform: translateZ(0px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }