.Cubename{
    border:15px solid transparent;
    border-radius: 10px; 
     margin: 30px 0px 0px;
     max-width: 406px;
   } 
  .Cubesec{
    position: relative;
    transform: translateZ(0px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }