.RoteCon{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    flex-wrap: wrap;
}

.css-uaat4j{
   
    margin-bottom: 20px;
    margin-right: 24px;
    display: block;
    box-shadow: 2px 13px 15px -13px rgba(0,0,0,0.75);
    width: 327px;
    /* flex: 1 1; */
    line-height: 1;
    background: white;
    padding: 20px 0px;
    transition: transform 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s;
    color: rgb(51, 51, 51) !important;
    text-decoration: none !important;
}
.css-1ur49oz > * {
    margin-bottom: 20px;
}
@media (max-width:700px) {
    .RoteCon{
        flex-direction: row;
    }
    .css-uaat4j{
        margin-right: 0px;

    }
    
}