.Image {
    
    height: 100%;
    width: 100%;
}

.Flageimagecont{
    display: flex;
    flex-direction: row;justify-content: center;
    align-items: center;
    
    }

    .Flagebox{
        margin-top: 20px;
        height: 200px;
        width: 300px;
        object-fit: contain;

    }

    .Question{
        margin-top: 20px;
        height: 50px;
        width: 200px;
    }
  
