.rankbox {
    display: flex;
    width: 30%;
    height: 183px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    border-radius: 19px;
    border: 1px solid rgb(0, 123, 255);
    box-shadow: 2px 13px 15px -13px rgba(0, 0, 0, .75);

}

.Mainrankbox {
    display: flex;
    width: 80%;
    justify-content: space-between;
    position: relative;
}

.Rankname {
    color: black
}

.box {
    position: relative;
    /* left: 89px; */
    width: 83%;
    height: 200px;

    display: flex;
    justify-content: center;
}

.Rankimage {
    height: 52px !important;
    width: 52px !important;
    color: gray;
}