*{
    margin: 0;
    padding: 0;
    font-weight: 400;
    outline: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 18px;
}



    @media (min-width: 700px){
        body {
            background: #e6e8f4;
        }
    }
   

.Maionpage{
    background: white;
position: relative;
cursor: pointer;
color: white;
user-select: none;
overflow: hidden;
text-align: center;

}


.secondwraper{
    display: flex;
    background: rgb(43, 135, 209);

    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0px auto;
    margin-bottom: 46px;
    position: relative;
   
    align-items: center;
}
